<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamm's Login Site!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="container body-content" style="margin-left: 0;">
        @RenderBody()
    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundlefds/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
